<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/members">
        Home
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Client Data</h2>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-3 col-sm-3">
          <p> Name: {{this.name}}</p>
      </div>
      <div class="col-3 col-sm-3">
          <p> Phone Number: {{this.phoneNumber}}</p>
      </div>
      <div class="col-3 col-sm-3">
          <p> Make: {{this.make}}</p>
      </div>
      <div class="col-3 col-sm-3">
          <p> Model: {{this.model}}</p>
      </div>
      <div class="col-3 col-sm-3">
          <p> Color: {{this.color}}</p>
      </div>
      <div class="col-3 col-sm-3">
          <p> Quote: {{this.quote}}</p>
      </div>
      <div class="col-3 col-sm-3">
          <p> Follow Up: {{this.followUp}}</p>
      </div>
  </div>
  <div class="container">
    <div class="row"> 
      <div class="col">
          <h3>Update Client</h3>
      </div>
    </div>
      <form class="update-form">
        <div class="row">
          <div class="col-3 col-sm-3">
            <div class="form-group">
              <label for="newname">Name:</label>
              <input type="text" id="newname" name="newname">
            </div>
          </div>
          <div class="col-3 col-sm-3">
            <div class="form-group">
              <label for="newphone">Phone Number:</label>
              <input type="text" id="newphone" name="newphone">
            </div>
          </div>
          <div class="col-3 col-sm-3">
            <div class="form-group">
              <label for="newmake">Make:</label>
              <input type="text" id="newmake" name="newmake">
            </div>
          </div>
          <div class="col-3 col-sm-3">
            <div class="form-group">
              <label for="newmodel">Model:</label>
              <input type="text" id="newmodel" name="newmodel">
            </div>
          </div>
          <div class="col-3 col-sm-3">
            <div class="form-group">
              <label for="newcolor">Color:</label>
              <input type="text" id="newcolor" name="newcolor">
            </div>
          </div>
          <div class="col-3 col-sm-3">
            <div class="form-group">
              <label for="newquote">Quote:</label>
              <input type="text" id="newquote" name="newquote">
            </div>
          </div>
          <div class="col-3 col-sm-3">
            <div class="form-group">
              <label for="newfollowUp">Follow Up:</label>
              <input type="text" id="newfollowUp" name="newfollowUp">
            </div>
          </div>
          <button data-id="{{this.id}}" class="updateClient">Update</button>
        </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>View Notes</h3>
        <ul>
          {{#each notes}}
            <li>
              <p>{{this.note}}</p>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Create New Note</h3>
      </div>
    </div>
      <form class="create-form">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="note">Add Note:</label>
              <input type="textarea" id="note" name="note">
            </div>
          </div>
          <button type="submit">Add Note</button>
        </div>
      </form>
  </div>